.Appmemo {
    max-width: 860px;
    margin: 100px auto;

  }
  
  .card-gridyesh2 {
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(4, minmax(200px, 1fr));
    gap: 20px;
    justify-content: center;
    max-width: 900px;
    margin: 0 auto;
  }
  
  .info-containeryesh2 {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  
  .info-itemyesh2 {
    background-color: #4cafaa;
    padding: 10px;
    border-radius: px;
    font-size: 1.5rem;
    color: rgb(10, 9, 9);
    align-items: center;
    
  }
  
  .new-game-buttonyesh2 {
    background-color: #4cafaa;
    color: rgb(230, 222, 228);
    padding: 10px 15px;
    border: none;
    font-size: 1.2rem;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .new-game-buttonyesh2:hover {
    background-color: #071a08;
  }
  
  .titleyesh2 {
    font-size: 24px;
    color: #000000;
    font-size: 2rem;
    padding-left: 300px;
    /* align-items: center; */
  }
  .rules-section {
    margin-top: 20px;
  }
  
  .rules-section h2 {
    color: #3498db;
  }
  
  .rules-section ul {
    list-style-type: none;
    padding: 0;
  }
  
  .rules-section li {
    margin-bottom: 10px;
  }